Nabers-Migration-DF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Nabers-Migration-DF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Create contacts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert contact",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get contact record type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RecordTypeID",
										"value": {
											"value": "@activity('Get contact record type').output.firstrow.Id",
											"type": "Expression"
										}
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedContacts]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Members_Contact_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ContactID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Members_Contact_ID__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Position",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Position__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AccountManagerFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Account_Manager__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "StreetName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Suburb",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PostCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "MailingLatitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "MailingLongitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CustomerSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AccountId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RecordTypeID"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get contact record type",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "Select id from RecordType where sObjectType = 'Contact' and DeveloperName = 'NO_Customer_Contact'",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert contact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, Members_Contact_ID__c FROM Contact",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInContact]",
								"sqlWriterTableType": "ContactStageType",
								"storedProcedureTableTypeParameterName": "ContactStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Members_Contact_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Members_Contact_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create customer company')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert customer company",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get customer record type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RecordTypeID",
										"value": {
											"value": "@activity('Get customer record type').output.firstrow.Id",
											"type": "Expression"
										}
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedCustomerCompanies]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Members_Customer_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RegisteredName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TradingName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Short_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ABN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_ABN__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StreetName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingStreet"
										}
									},
									{
										"source": {
											"name": "Suburb",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PostCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Country"
										},
										"sink": {
											"name": "ShippingCountry"
										}
									},
									{
										"source": {
											"name": "RecordTypeID"
										},
										"sink": {
											"name": "RecordTypeId"
										}
									},
									{
										"source": {
											"name": "CustomerID"
										},
										"sink": {
											"name": "Members_Customer_ID__c"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get customer record type",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "Select id from RecordType where sObjectType = 'Account' and DeveloperName = 'NO_Customer_Company'",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert customer company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, Members_Customer_ID__c FROM Account",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInCustomerCompany]",
								"sqlWriterTableType": "CustomerCompanyStageType",
								"storedProcedureTableTypeParameterName": "CustomerCompanyStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Members_ID__c"
										},
										"sink": {
											"name": "Members_Customer_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"_defaultCountry": {
						"type": "String",
						"defaultValue": "Australia"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create ratings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert ratings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedRatings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "NO_Member_Rating_Id__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RatingHeaderID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NO_Member_Rating_Id__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RatingReferenceNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Member_Rating_Ref_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PremiseType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Building_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingScope",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating_Scope__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MainPurposeOfRating",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Main_purpose_of_rating__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UsingLatestEnergyVersion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Using_Latest_Energy_Rules_Version__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UsingLatestWaterVersion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Using_Latest_Water_Rules_Version__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UsingLatestIEVersion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Using_Latest_IE_Rules_Version__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PublicListingFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Rating_Publicly_Listed__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingPeriodFrom"
										},
										"sink": {
											"name": "Rating_Start_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LodgedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Lodge_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CertificateValidFrom",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Valid_From_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CertificateValidTo",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Valid_To_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CertificationDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Certified_On_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "EnergyStarRating",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Energy_Star_Rating_With_Green_Power__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EnergyIntensity",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Energy_Intensity__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GHGEmissionsScope123",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Greenhouse_Gas_Emissions_Scope_123__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EnergyStarRatingWoGreenPower",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Energy_Star_Rating_Without_Green_Power__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GHGEmissionsScope123WoGP",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "No_GreenPower_GHG_Emissions_Scope_123__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WaterStarRating",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Water_Star_Rating_With_Recycled_Water__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WaterStarRatingWoRW",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Water_Star_Rating_Without_Recycled_Water__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BuildingSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Building__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanySalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer__c",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_Rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Member_Rating_Id__c from\nNO_Rating__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInRating]",
								"sqlWriterTableType": "RatingStageType",
								"storedProcedureTableTypeParameterName": "RatingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NO_Member_Rating_Id__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "NO_Member_Rating_Id__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_Rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create building rating relationship')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert building ratings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedBuildingRatings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Members_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RatingSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BuildingSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Building__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Members_ID"
										},
										"sink": {
											"name": "Members_ID__c"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_building_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_building_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert building ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "SELECT id, Members_ID__c FROM NO_Building_Rating_Relationship__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInBuildingRating]",
								"sqlWriterTableType": "BuildingRatingStageType",
								"storedProcedureTableTypeParameterName": "BuildingRatingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Members_ID__c",
											"type": "String"
										},
										"sink": {
											"name": "Members_ID__c",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_building_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_building_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Batch execution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create buildings",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create buildings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create customer company",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create buildings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create customer company",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create assessor company",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create buildings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create assessor company",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create contact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create customer company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create contacts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create assessor",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create assessor company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create assessors",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create ratings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create contact",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Create assessor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create ratings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create building rating relationship",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create building rating relationship",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Create customer company')]",
				"[concat(variables('factoryId'), '/pipelines/Create contacts')]",
				"[concat(variables('factoryId'), '/pipelines/Create ratings')]",
				"[concat(variables('factoryId'), '/pipelines/Create building rating relationship')]"
			]
		}
	]
}