Nabers-Migration-DF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Nabers-Migration-DF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/sf_customer_company')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NabersOnline",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "salesforce"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Account"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_officer_rating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NabersOnline",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "salesforce"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "NO_Rating__c"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_user')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NabersOnline",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "salesforce"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "User"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create assessor company')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get assessor record type",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "Select id from RecordType where sObjectType = 'Account' and DeveloperName = 'NO_Assessor_Company'",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_assessor_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Upsert assessor company",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get assessor record type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RecordTypeID",
										"value": {
											"value": "@activity('Get assessor record type').output.firstrow.Id",
											"type": "Expression"
										}
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedAssessorCompanies]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "NO_Members_Company_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CompanyID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NO_Members_Company_ID__c"
										}
									},
									{
										"source": {
											"name": "CompanyName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ShortName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Short_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanyType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Organisation_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MainOfficeLocation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Main_Office_Location__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanyStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Record_status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ABN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_ABN__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanyURL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Website",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingParticipationFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Rating_Participation__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "MailingStreet",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingSuburb",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingPostCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingCountry",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BillingAddressSameAsMailing",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Is_Mailing_and_Billing_Address_same__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "BillingStreet",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BillingSuburb",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BillingStateCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BillingPostCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BillingCountry",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SAPCustomerNo",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_SAP_Customer_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PIInsuranceExpiryDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Professional_Indemnity_Expiry_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PLInsuranceExpiryDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Public_Liability_Expiry_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ContractNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Company_Contract_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContractExpiryDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Contract_Expiry_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "WC_Expiry_WA",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Workers_Compensation_Expiry_Date_WA__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "WC_Expiry_VIC",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Workers_Compensation_Expiry_Date_VIC__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "WC_Expiry_TAS",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Workers_Compensation_Expiry_Date_TAS__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "WC_Expiry_SA",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Workers_Compensation_Expiry_Date_SA__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "WC_Expiry_QLD",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Workers_Compensation_Expiry_Date_QLD__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "WC_Expiry_NSW",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Workers_Compensation_Expiry_Date_NSW__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "WC_Expiry_ACT",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Workers_Compensation_Expiry_Date_ACT__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "WC_Expiry_NT",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NO_Workers_Compensation_Expiry_Date_NT__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RecordTypeID"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_asessor_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_assessor_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert assessor company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Members_Company_ID__c FROM Account",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInAssessorCompany]",
								"sqlWriterTableType": "AssessorCompanyStageType",
								"storedProcedureTableTypeParameterName": "AssessorCompanyStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NO_Members_Company_ID__c"
										},
										"sink": {
											"name": "NO_Members_Company_ID__c",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_assessor_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_asessor_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create assessors')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get assessor record type",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "Select id from RecordType where sObjectType = 'Contact' and DeveloperName = 'NO_Assessor'",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_Assessor",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Upsert assessor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get assessor record type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RecordTypeID",
										"value": {
											"value": "@activity('Get assessor record type').output.firstrow.Id",
											"type": "Expression"
										}
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedAssessors]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "NO_Members_Assessor_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AssessorID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NO_Members_Assessor_ID__c"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Position",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Position__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ShowEmailToPublicFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Show_Email_To_Public__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ShowPhoneToPublicFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Show_Business_Phone_To_Public__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "AccountManagerFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Account_Manager__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Accreditation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Accreditation__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AccreditationNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Accreditation_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AccreditationExpiryDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "NO_Accreditation_Expiry_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "JoinedDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "NO_Join_date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CBDFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Share_Info_With_CBD__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "SupervisorFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Supervisor__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RatingType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Rating_Types__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RequireSupervisionOffice",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Supervision_Energy_Offices__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RequireSupervisionSC",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Supervision_Energy_Shopping_Centres__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RequireSupervisionHotel",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Supervision_Energy_Hotels__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RequireSupervisionDC",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Supervision_Energy_Data_Centres__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RequireSupervisionAB",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Supervision_Energy_AB__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Metro_Availability",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Metropolitan__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Regional_Availability",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Regional__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingStreet",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingSuburb",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingPostCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingCountry",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MailingLatitude",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "MailingLatitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MailingLongitude",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "MailingLongitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CompanySalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AccountId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RecordTypeID"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_assessor",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_Assessor",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert assessor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Members_Assessor_ID__c FROM Contact",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInAssessor]",
								"sqlWriterTableType": "AssessorStageType",
								"storedProcedureTableTypeParameterName": "AssessorStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NO_Members_Assessor_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "NO_Members_Assessor_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_Assessor",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_assessor",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Upsert assessor users",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get assessor profile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "IsActive",
										"value": "false"
									},
									{
										"name": "UserLicense",
										"value": ""
									},
									{
										"name": "Profile",
										"value": {
											"value": "@activity('Get assessor profile').output.firstrow.Id",
											"type": "Expression"
										}
									},
									{
										"name": "TimeZoneSidKey",
										"value": "Australia/Sydney"
									},
									{
										"name": "LocaleSidKey",
										"value": "en_AU"
									},
									{
										"name": "EmailEncodingKey",
										"value": "UTF-8"
									},
									{
										"name": "LanguageLocaleKey",
										"value": "en_US"
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedAssessorUsers]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "NO_Members_Assessor_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AssessorID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NO_Members_Assessor_ID__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Alias",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Alias",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NickName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CommunityNickname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Profile"
										},
										"sink": {
											"name": "ProfileId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Username",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Username",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeZoneSidKey"
										},
										"sink": {
											"name": "TimeZoneSidKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LocaleSidKey"
										},
										"sink": {
											"name": "LocaleSidKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmailEncodingKey"
										},
										"sink": {
											"name": "EmailEncodingKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LanguageLocaleKey"
										},
										"sink": {
											"name": "LanguageLocaleKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ContactId",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_assessor",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get assessor profile",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy from Salesforce to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id from profile where name = 'NO Community Assessor'",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy assessor user from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert assessor users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Members_Assessor_ID__c from User",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInAssessorUser]",
								"sqlWriterTableType": "AssessorUserStageType",
								"storedProcedureTableTypeParameterName": "AssessorUserStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NO_Members_Assessor_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "NO_Members_Assessor_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_assessor",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sf_user')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create building rating relationship')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert building ratings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedBuildingRatings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Members_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RatingSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BuildingSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Building__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Members_ID"
										},
										"sink": {
											"name": "Members_ID__c"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_building_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_building_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert building ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "SELECT id, Members_ID__c FROM NO_Building_Rating_Relationship__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInBuildingRating]",
								"sqlWriterTableType": "BuildingRatingStageType",
								"storedProcedureTableTypeParameterName": "BuildingRatingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Members_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Members_ID__c",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_building_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_building_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create buildings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert buildings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedBuildings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "NOCRM_External_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PremiseID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NOCRM_External_ID__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PremiseName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StreetNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Street_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StreetName",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Street_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Suburb",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Suburb__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PostCode",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Postcode__c"
										}
									},
									{
										"source": {
											"name": "Latitude"
										},
										"sink": {
											"name": "Geo_Coordinates__latitude__s"
										}
									},
									{
										"source": {
											"name": "Longitude"
										},
										"sink": {
											"name": "Geo_Coordinates__longitude__s"
										}
									},
									{
										"source": {
											"name": "PremiseType"
										},
										"sink": {
											"name": "Building_Type__c"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_building",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_Building",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert buildings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select ID, NOCRM_External_ID__c from NO_Building__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInBuilding]",
								"sqlWriterTableType": "BuildingStageType",
								"storedProcedureTableTypeParameterName": "BuildingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NOCRM_External_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "NOCRM_External_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_Building",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_building",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"_vnewBuildingsInSF": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create contact rating relationship')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert contact ratings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedContactRatings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Members_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RatingSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contact__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AuthoriseFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Authorise_Flag__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "PrimaryContactFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Primary_Contact_Flag__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RecordStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Request_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Members_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Members_ID__c",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_contact_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_contact_rataing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert contact ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "SELECT id, Members_ID__c FROM NO_Rating_Contact__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInContactRating]",
								"sqlWriterTableType": "ContactRatingStageType",
								"storedProcedureTableTypeParameterName": "ContactRatingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Members_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Members_ID__c",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_contact_rataing",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_contact_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create contacts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert contact",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get contact record type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RecordTypeID",
										"value": {
											"value": "@activity('Get contact record type').output.firstrow.Id",
											"type": "Expression"
										}
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedContacts]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "NO_Members_Contact_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ContactID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NO_Members_Contact_ID__c"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Position",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Position__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AccountManagerFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NO_Account_Manager__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "StreetName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Suburb",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PostCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "MailingLatitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "MailingLongitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CustomerSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AccountId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RecordTypeID"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get contact record type",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "Select id from RecordType where sObjectType = 'Contact' and DeveloperName = 'NO_Customer_Contact'",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert contact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Members_Contact_ID__c FROM Contact",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInContact]",
								"sqlWriterTableType": "ContactStageType",
								"storedProcedureTableTypeParameterName": "ContactStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NO_Members_Contact_ID__c"
										},
										"sink": {
											"name": "NO_Members_Contact_ID__c",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create customer company')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert customer company",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get customer record type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RecordTypeID",
										"value": {
											"value": "@activity('Get customer record type').output.firstrow.Id",
											"type": "Expression"
										}
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedCustomerCompanies]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "NO_Members_Customer_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RegisteredName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TradingName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_Short_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ABN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NO_ABN__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StreetName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingStreet"
										}
									},
									{
										"source": {
											"name": "Suburb",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PostCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Country"
										},
										"sink": {
											"name": "ShippingCountry"
										}
									},
									{
										"source": {
											"name": "RecordTypeID"
										},
										"sink": {
											"name": "RecordTypeId"
										}
									},
									{
										"source": {
											"name": "CustomerID"
										},
										"sink": {
											"name": "NO_Members_Customer_ID__c"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get customer record type",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "Select id from RecordType where sObjectType = 'Account' and DeveloperName = 'NO_Customer_Company'",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert customer company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Members_Customer_ID__c FROM Account",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInCustomerCompany]",
								"sqlWriterTableType": "CustomerCompanyStageType",
								"storedProcedureTableTypeParameterName": "CustomerCompanyStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NO_Members_Customer_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "NO_Members_Customer_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_customer_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"_defaultCountry": {
						"type": "String",
						"defaultValue": "Australia"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sf_customer_company')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create officers and rating relationship')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert officers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get officer role",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get officer profile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "IsActive",
										"value": "false"
									},
									{
										"name": "Role",
										"value": {
											"value": "@activity('Get officer role').output.firstrow.Id",
											"type": "Expression"
										}
									},
									{
										"name": "UserLicense",
										"value": ""
									},
									{
										"name": "Profile",
										"value": {
											"value": "@activity('Get officer profile').output.firstrow.Id",
											"type": "Expression"
										}
									},
									{
										"name": "TimeZoneSidKey",
										"value": "Australia/Sydney"
									},
									{
										"name": "LocaleSidKey",
										"value": "en_AU"
									},
									{
										"name": "EmailEncodingKey",
										"value": "UTF-8"
									},
									{
										"name": "LanguageLocaleKey",
										"value": "en_US"
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedOfficers]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": {
									"value": "NO_Members_Officer_ID__c",
									"type": "Expression"
								},
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AdministratorID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NO_Members_Officer_ID__c"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Alias",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Alias",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NickName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CommunityNickname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Role"
										},
										"sink": {
											"name": "UserRoleId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Profile"
										},
										"sink": {
											"name": "ProfileId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Username",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Username",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeZoneSidKey"
										},
										"sink": {
											"name": "TimeZoneSidKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LocaleSidKey"
										},
										"sink": {
											"name": "LocaleSidKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmailEncodingKey"
										},
										"sink": {
											"name": "EmailEncodingKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LanguageLocaleKey"
										},
										"sink": {
											"name": "LanguageLocaleKey",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_officer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get officer role",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id from UserRole WHERE Name = 'CRM Role'",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Get officer profile",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id from profile where name = 'Nabers Internal User'",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert officers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Members_Officer_ID__c from User",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInOfficer]",
								"sqlWriterTableType": "OfficerStageType",
								"storedProcedureTableTypeParameterName": "OfficerStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NO_Members_Officer_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "NO_Members_Officer_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_officer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update officers for rating",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy from Salesforce to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedOfficerRatings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Members_Rating_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RatingHeaderID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Members_Rating_ID__c"
										}
									},
									{
										"source": {
											"name": "OfficerSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tech_Officer__c",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_officer_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_officer_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy officer mapping from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update officers for rating",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, Members_Rating_ID__c, Tech_Officer__c from no_rating__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInOfficerRating]",
								"sqlWriterTableType": "OfficerRatingStageType",
								"storedProcedureTableTypeParameterName": "OfficerRatingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Members_Rating_ID__c"
										},
										"sink": {
											"name": "Members_Rating_ID__c",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Tech_Officer__c",
											"type": "String"
										},
										"sink": {
											"name": "Tech_officer__c",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_officer_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_officer_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sf_user')]",
				"[concat(variables('factoryId'), '/datasets/sf_officer_rating')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create ratings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert ratings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "Rating_details_page__c",
										"value": "complete"
									},
									{
										"name": "Rating_information_page__c",
										"value": "complete"
									},
									{
										"name": "Building_details_page__c",
										"value": "complete"
									},
									{
										"name": "Customer_details_page__c",
										"value": "complete"
									},
									{
										"name": "Review_summary_page__c",
										"value": "complete"
									},
									{
										"name": "Area_Data_Copy_Status__c",
										"value": "Copy rejected"
									},
									{
										"name": "Electricity_Data_Clone_Status__c",
										"value": "Copy rejected"
									},
									{
										"name": "Gas_Data_Copy_Status__c",
										"value": "Copy rejected"
									},
									{
										"name": "Diesel_Data_Copy_Status__c",
										"value": "Copy rejected"
									},
									{
										"name": "Water_Data_Copy_Status__c",
										"value": "Copy rejected"
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedRatings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Members_Rating_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RatingHeaderID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Members_Rating_ID__c"
										}
									},
									{
										"source": {
											"name": "RatingReferenceNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating_Reference_Number__c"
										}
									},
									{
										"source": {
											"name": "PremiseType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Building_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingScope",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating_Scope__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MainPurposeOfRating",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Main_purpose_of_rating__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UsingLatestEnergyVersion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Using_Latest_Energy_Rules_Version__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UsingLatestWaterVersion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Using_Latest_Water_Rules_Version__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UsingLatestIEVersion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Using_Latest_IE_Rules_Version__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PublicListingFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Rating_Publicly_Listed__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatingPeriodFrom"
										},
										"sink": {
											"name": "Rating_Start_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LodgedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Lodge_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CertificateValidFrom",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Valid_From_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CertificateValidTo",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Valid_To_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CertificationDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Certified_On_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "EnergyStarRating",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Energy_Star_Rating_With_Green_Power__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EnergyIntensity",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Energy_Intensity__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GHGEmissionsScope123",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Greenhouse_Gas_Emissions_Scope_123__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EnergyStarRatingWoGreenPower",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Energy_Star_Rating_Without_Green_Power__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GHGEmissionsScope123WoGP",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "No_GreenPower_GHG_Emissions_Scope_123__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WaterStarRating",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Water_Star_Rating_With_Recycled_Water__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WaterStarRatingWoRW",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Water_Star_Rating_Without_Recycled_Water__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BuildingSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Building__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanySalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BuildingNameOnCertificate"
										},
										"sink": {
											"name": "Building_Name_On_Certificate__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerNameOnCertificate"
										},
										"sink": {
											"name": "Customer_Name_On_Certificate__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Rating_details_page__c"
										},
										"sink": {
											"name": "Rating_details_page__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Rating_information_page__c"
										},
										"sink": {
											"name": "Rating_information_page__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Building_details_page__c"
										},
										"sink": {
											"name": "Building_details_page__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer_details_page__c"
										},
										"sink": {
											"name": "Customer_details_page__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Review_summary_page__c"
										},
										"sink": {
											"name": "Review_summary_page__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Area_Data_Copy_Status__c"
										},
										"sink": {
											"name": "Area_Data_Copy_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Electricity_Data_Clone_Status__c"
										},
										"sink": {
											"name": "Electricity_Data_Clone_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Gas_Data_Copy_Status__c"
										},
										"sink": {
											"name": "Gas_Data_Copy_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Diesel_Data_Copy_Status__c"
										},
										"sink": {
											"name": "Diesel_Data_Copy_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Water_Data_Copy_Status__c"
										},
										"sink": {
											"name": "Water_Data_Copy_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POReferenceNo"
										},
										"sink": {
											"name": "Reference_For_Invoicing__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataAccuracyFlag"
										},
										"sink": {
											"name": "Assessor_Declaration__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ConflictOfInterestFlag"
										},
										"sink": {
											"name": "Conflict_Of_Interest__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InComplianceWithCurrentRules"
										},
										"sink": {
											"name": "Compliant_With_Rules__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ComplianceExplanation"
										},
										"sink": {
											"name": "Explain_Why_Not_Compliant__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerAwareOfStarRating"
										},
										"sink": {
											"name": "Customer_Aware_Of_Star_Rating__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "AssessorUserSalesforceID"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_Rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, Members_Rating_ID__c from\nNO_Rating__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInRating]",
								"sqlWriterTableType": "RatingStageType",
								"storedProcedureTableTypeParameterName": "RatingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Members_Rating_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Members_Rating_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_Rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_rating",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Batch execution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create buildings",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create buildings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create customer company",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create buildings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create customer company",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create assessor company",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create buildings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create assessor company",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create contact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create customer company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create contacts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create assessor",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create assessor company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create assessors",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create ratings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create contact",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Create assessor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create ratings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create building rating relationship",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create building rating relationship",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create contact rating relationship",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create contact rating relationship",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Create officer and rating relationship",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create officers and rating relationship",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Create buildings')]",
				"[concat(variables('factoryId'), '/pipelines/Create customer company')]",
				"[concat(variables('factoryId'), '/pipelines/Create assessor company')]",
				"[concat(variables('factoryId'), '/pipelines/Create contacts')]",
				"[concat(variables('factoryId'), '/pipelines/Create assessors')]",
				"[concat(variables('factoryId'), '/pipelines/Create ratings')]",
				"[concat(variables('factoryId'), '/pipelines/Create building rating relationship')]",
				"[concat(variables('factoryId'), '/pipelines/Create contact rating relationship')]",
				"[concat(variables('factoryId'), '/pipelines/Create officers and rating relationship')]"
			]
		}
	]
}