Nabers-Migration-DF/PartialArmTemplates/ArmTemplate_7_14_2020_12_4_55.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Nabers-Migration-DF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Batch execution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create buildings",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create buildings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Create customer company",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create buildings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create customer company",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Create assessor company",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create buildings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create assessor company",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Create contact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create customer company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create contacts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Create assessor",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create assessor company",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create assessors",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Create ratings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create contact",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Create assessor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create ratings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Create building rating relationship",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create building rating relationship",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Create contact rating relationship",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create contact rating relationship",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Create officer and rating relationship",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Create officers and rating relationship",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Create contact rating relationship')]",
				"[concat(variables('factoryId'), '/pipelines/Create officers and rating relationship')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_members_contact_rating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "RatingHeaderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ContactID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Members_ID",
						"type": "varchar"
					},
					{
						"name": "RowTimeStamp",
						"type": "varchar"
					},
					{
						"name": "SalesforceID",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactRatingStage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_contact_rataing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NabersOnline",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "salesforce"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "NO_Rating_Contact__c"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create contact rating relationship')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert contact ratings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedContactRatings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Members_ID__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RatingSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rating__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contact__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AuthoriseFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Authorise_Flag__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "PrimaryContactFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Primary_Contact_Flag__c",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RecordStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Request_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Members_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Members_ID__c",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_contact_rating",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sf_contact_rataing",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert contact ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "SELECT id, Members_ID__c FROM NO_Rating_Contact__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInContactRating]",
								"sqlWriterTableType": "ContactRatingStageType",
								"storedProcedureTableTypeParameterName": "ContactRatingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Members_ID__c",
											"type": "String"
										},
										"sink": {
											"name": "Members_ID__c",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_contact_rataing",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_contact_rating",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/db_members_contact_rating')]",
				"[concat(variables('factoryId'), '/datasets/sf_contact_rataing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_members_officer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AdministratorID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					},
					{
						"name": "Alias",
						"type": "varchar"
					},
					{
						"name": "NickName",
						"type": "varchar"
					},
					{
						"name": "RowTimeStamp",
						"type": "varchar"
					},
					{
						"name": "SalesforceID",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OfficerStage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_officer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NabersOnline",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "salesforce"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "User"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create officers and rating relationship')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upsert officers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get officer role",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get officer profile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "IsActive",
										"value": "false"
									},
									{
										"name": "Role",
										"value": {
											"value": "@activity('Get officer role').output.firstrow.Id",
											"type": "Expression"
										}
									},
									{
										"name": "UserLicense",
										"value": ""
									},
									{
										"name": "Profile",
										"value": {
											"value": "@activity('Get officer profile').output.firstrow.Id",
											"type": "Expression"
										}
									},
									{
										"name": "TimeZoneSidKey",
										"value": "Australia/Sydney"
									},
									{
										"name": "LocaleSidKey",
										"value": "en_AU"
									},
									{
										"name": "EmailEncodingKey",
										"value": "UTF-8"
									},
									{
										"name": "LanguageLocaleKey",
										"value": "en_US"
									}
								],
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedOfficers]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": {
									"value": "NO_Members_Officer_ID__c",
									"type": "Expression"
								},
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AdministratorID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NO_Members_Officer_ID__c"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Alias",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Alias",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NickName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CommunityNickname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Role"
										},
										"sink": {
											"name": "UserRoleId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Profile"
										},
										"sink": {
											"name": "ProfileId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Username",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Username",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeZoneSidKey"
										},
										"sink": {
											"name": "TimeZoneSidKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LocaleSidKey"
										},
										"sink": {
											"name": "LocaleSidKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmailEncodingKey"
										},
										"sink": {
											"name": "EmailEncodingKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LanguageLocaleKey"
										},
										"sink": {
											"name": "LanguageLocaleKey",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_officer",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sf_officer",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get officer role",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id from UserRole WHERE Name = 'CRM Role'",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_officer",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Get officer profile",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id from profile where name = 'Nabers Internal User'",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "sf_officer",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Copy from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Upsert officers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Members_Officer_ID__c from User",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInOfficer]",
								"sqlWriterTableType": "OfficerStageType",
								"storedProcedureTableTypeParameterName": "OfficerStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NO_Members_Officer_ID__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "NO_Members_Officer_ID__c",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_officer",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_officer",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update officers for rating",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy from Salesforce to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetUpdatedOfficerRatings]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "NO_Member_Rating_Id__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RatingHeaderID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NO_Member_Rating_Id__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OfficerSalesforceID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tech_Officer__c",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "db_members_officer_rating",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sf_officer_rating",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy officer mapping from Salesforce to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update officers for rating",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id, NO_Member_Rating_Id__c, Tech_Officer__c from no_rating__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[usp_UpdateSalesforceIDInOfficerRating]",
								"sqlWriterTableType": "OfficerRatingStageType",
								"storedProcedureTableTypeParameterName": "OfficerRatingStage"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "NO_Member_Rating_Id__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "NO_Member_Rating_Id__c",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Tech_Officer__c",
											"type": "String"
										},
										"sink": {
											"name": "Tech_officer__c",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sf_officer_rating",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "db_members_officer_rating",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/db_members_officer')]",
				"[concat(variables('factoryId'), '/datasets/sf_officer')]",
				"[concat(variables('factoryId'), '/datasets/db_members_officer_rating')]",
				"[concat(variables('factoryId'), '/datasets/sf_officer_rating')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_members_officer_rating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "RatingHeaderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OfficerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RowTimeStamp",
						"type": "varchar"
					},
					{
						"name": "SalesforceID",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OfficerRatingStage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_officer_rating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NabersOnline",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "salesforce"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "NO_Rating__c"
				}
			},
			"dependsOn": []
		}
	]
}