pipeline/Create officers.json
{
	"name": "Create officers",
	"properties": {
		"activities": [
			{
				"name": "Upsert officers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get officer role",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "IsActive",
								"value": "false"
							},
							{
								"name": "Role",
								"value": {
									"value": "@activity('Get officer role').output.value",
									"type": "Expression"
								}
							},
							{
								"name": "UserLicense",
								"value": ""
							},
							{
								"name": "Profile",
								"value": ""
							}
						],
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetUpdatedOfficers]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "Members_Officer_ID__c",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Alias",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Alias",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NickName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CommunityNickname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IsActive"
								},
								"sink": {
									"name": "IsActive",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "Role"
								},
								"sink": {
									"name": "UserRoleId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UserLicense"
								}
							},
							{
								"source": {
									"name": "Profile"
								},
								"sink": {
									"name": "ProfileId",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "db_members_officer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_officer",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get officer role",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select id from UserRole WHERE Name = 'CRM Role'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_members_officer",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}