pipeline/Create assessor company.json
{
	"name": "Create assessor company",
	"properties": {
		"activities": [
			{
				"name": "Get assessor record type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "Select id from RecordType where sObjectType = 'Account' and DeveloperName = 'NO_Assessor_Company'",
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "sf_assessor_company",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Upsert assessor company",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get assessor record type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RecordTypeID",
								"value": {
									"value": "@activity('Get assessor record type').output.firstrow.Id",
									"type": "Expression"
								}
							}
						],
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetUpdatedAssessorCompanies]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "Members_ID__c",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CompanyID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Members_ID__c",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ShortName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Short_Name__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CompanyType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Organisation_Type__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MainOfficeLocation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Main_Office_Location__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CompanyStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Record_status__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ABN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_ABN__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CompanyURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Website",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RatingParticipationFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Rating_Participation__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "MailingStreet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingSuburb",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingStateCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingPostCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingCountry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillingAddressSameAsMailing",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Is_Mailing_and_Billing_Address_same__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "BillingStreet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BillingStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillingSuburb",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BillingCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillingStateCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BillingState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillingPostCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BillingPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillingCountry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BillingCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SAPCustomerNo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_SAP_Customer_Number__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PIInsuranceExpiryDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Professional_Indemnity_Expiry_Date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "PLInsuranceExpiryDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Public_Liability_Expiry_Date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ContractNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Company_Contract_Number__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ContractExpiryDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Contract_Expiry_Date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "WC_Expiry_WA",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Workers_Compensation_Expiry_Date_WA__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "WC_Expiry_VIC",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Workers_Compensation_Expiry_Date_VIC__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "WC_Expiry_TAS",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Workers_Compensation_Expiry_Date_TAS__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "WC_Expiry_SA",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Workers_Compensation_Expiry_Date_SA__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "WC_Expiry_QLD",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Workers_Compensation_Expiry_Date_QLD__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "WC_Expiry_NSW",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Workers_Compensation_Expiry_Date_NSW__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "WC_Expiry_ACT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Workers_Compensation_Expiry_Date_ACT__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "WC_Expiry_NT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NO_Workers_Compensation_Expiry_Date_NT__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "RecordTypeID"
								},
								"sink": {
									"name": "RecordTypeId",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "db_members_asessor_company",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_assessor_company",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy from Salesforce to Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Upsert assessor company",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select id, Members_ID__c FROM Account",
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[usp_UpdateSalesforceIDInAssessorCompany]",
						"sqlWriterTableType": "AssessorCompanyStageType",
						"storedProcedureTableTypeParameterName": "AssessorCompanyStage"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Members_ID__c"
								},
								"sink": {
									"name": "Members_Company_ID__c",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sf_assessor_company",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "db_members_asessor_company",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}