pipeline/Create contacts.json
{
	"name": "Create contacts",
	"properties": {
		"activities": [
			{
				"name": "Upsert contact",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get contact record type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RecordTypeID",
								"value": {
									"value": "@activity('Get contact record type').output.firstrow.Id",
									"type": "Expression"
								}
							}
						],
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetUpdatedContacts]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "NO_Members_Contact_ID__c",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ContactID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NO_Members_Contact_ID__c"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Position",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Position__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AccountManagerFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Account_Manager__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "StreetName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Suburb",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StateCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PostCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Latitude",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "MailingLatitude",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "Longitude",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "MailingLongitude",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "CustomerSalesforceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RecordTypeID"
								},
								"sink": {
									"name": "RecordTypeId",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "db_members_contact",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_contact",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get contact record type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "Select id from RecordType where sObjectType = 'Contact' and DeveloperName = 'NO_Customer_Contact'",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "sf_contact",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy from Salesforce to Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Upsert contact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select id, NO_Members_Contact_ID__c FROM Contact",
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[usp_UpdateSalesforceIDInContact]",
						"sqlWriterTableType": "ContactStageType",
						"storedProcedureTableTypeParameterName": "ContactStage"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NO_Members_Contact_ID__c"
								},
								"sink": {
									"name": "NO_Members_Contact_ID__c",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sf_contact",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "db_members_contact",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}