pipeline/Create assessors.json
{
	"name": "Create assessors",
	"properties": {
		"activities": [
			{
				"name": "Get assessor record type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "Select id from RecordType where sObjectType = 'Contact' and DeveloperName = 'NO_Assessor'",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "sf_Assessor",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Upsert assessor",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get assessor record type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RecordTypeID",
								"value": {
									"value": "@activity('Get assessor record type').output.firstrow.Id",
									"type": "Expression"
								}
							},
							{
								"name": "Status_Active",
								"value": "Active"
							}
						],
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetUpdatedAssessors]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "Members_Assessor_ID__c",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AssessorID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Members_Assessor_ID__c",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Position",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Position__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ShowEmailToPublicFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Show_Email_To_Public__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ShowPhoneToPublicFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Show_Business_Phone_To_Public__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "AccountManagerFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Account_Manager__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "Accreditation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Accreditation__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AccreditationNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Accreditation_Number__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AccreditationExpiryDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "NO_Accreditation_Expiry_Date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "JoinedDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "NO_Join_date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CBDFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Share_Info_With_CBD__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "SupervisorFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Supervisor__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "RatingType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Rating_Types__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RequireSupervisionOffice",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Supervision_Energy_Offices__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "RequireSupervisionSC",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Supervision_Energy_Shopping_Centres__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "RequireSupervisionHotel",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Supervision_Energy_Hotels__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "RequireSupervisionDC",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Supervision_Energy_Data_Centres__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "RequireSupervisionAB",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NO_Supervision_Energy_AB__c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "Metro_Availability",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Metropolitan__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Regional_Availability",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Regional__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingStreet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingSuburb",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingStateCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingPostCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingCountry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MailingCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MailingLatitude",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "MailingLatitude",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MailingLongitude",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "MailingLongitude",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "CompanySalesforceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RecordTypeID"
								},
								"sink": {
									"name": "RecordTypeId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "status"
								},
								"sink": {
									"name": "NO_User_Status__c"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "db_members_assessor",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_Assessor",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy from Salesforce to Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Upsert assessor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select id, Members_Assessor_ID__c FROM Contact",
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[usp_UpdateSalesforceIDInAssessor]",
						"sqlWriterTableType": "AssessorStageType",
						"storedProcedureTableTypeParameterName": "AssessorStage"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Members_Assessor_ID__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Members_Assessor_ID__c",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sf_Assessor",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "db_members_assessor",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}