pipeline/Create buildings.json
{
	"name": "Create buildings",
	"properties": {
		"activities": [
			{
				"name": "Create buildings",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetUpdatedBuildings]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "NOCRM_External_ID__c",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PremiseID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NOCRM_External_ID__c",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "PremiseName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StreetNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Street_Number__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StreetName",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Street_Name__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Suburb",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Suburb__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StateCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "State__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PostCode",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Postcode__c"
								}
							},
							{
								"source": {
									"name": "Latitude"
								},
								"sink": {
									"name": "Geo_Coordinates__latitude__s"
								}
							},
							{
								"source": {
									"name": "Longitude"
								},
								"sink": {
									"name": "Geo_Coordinates__longitude__s"
								}
							},
							{
								"source": {
									"name": "PremiseType"
								},
								"sink": {
									"name": "Building_Type__c"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "db_members_building",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_Building",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get buildings without SalesforceID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create buildings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetBuildingsWithoutSalesforceID]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_members_building",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Variable Buildings",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get buildings without SalesforceID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_vnewBuildingsInSF",
					"value": {
						"value": "@activity('Get buildings without SalesforceID').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Variable Buildings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('_vnewBuildingsInSF')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup building in Salesforce",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "select id from NO_Building__c where NOCRM_External_ID__c= @{item().PremiseID}",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sf_Building",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Update SalesforceID in Buildings",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup building in Salesforce",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpdateSalesforceIDInBuilding]",
								"storedProcedureParameters": {
									"PremiseID": {
										"value": {
											"value": "@item().PremiseId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SalesforceID": {
										"value": {
											"value": "@activity('Lookup building in Salesforce').output.firstrow.Id",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "NABERSStaging",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"_vnewBuildingsInSF": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}