pipeline/Create customer company.json
{
	"name": "Create customer company",
	"properties": {
		"activities": [
			{
				"name": "Upsert customer company",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get customer record type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RecordTypeID",
								"value": {
									"value": "@activity('Get customer record type').output.firstrow.Id",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "Members_Customer_ID__c",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RegisteredName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TradingName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_Short_Name__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ABN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NO_ABN__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StreetName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Suburb",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StateCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PostCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShippingPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Country"
								},
								"sink": {
									"name": "ShippingCountry"
								}
							},
							{
								"source": {
									"name": "RecordTypeID"
								},
								"sink": {
									"name": "RecordTypeId"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "db_members_customer_company",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_customer_company",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get customer record type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "Select id from RecordType where sObjectType = 'Account' and DeveloperName = 'NO_Customer_Company'",
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "sf_customer_company",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"_defaultCountry": {
				"type": "String",
				"defaultValue": "Australia"
			}
		},
		"annotations": []
	}
}